body {
    background-color: #edf1fa;
    padding-top: 5rem;
}

.nav-link {
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link:focus, .far-underline {
    text-decoration: underline;
    text-underline-offset: 15px;
}

.greeting-card {
    width: 130px;
    color: white;
    font-weight: 600;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.profile-name {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.1 rem;
}

.about-me {
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.1 rem;
}

.bg-cyan {
    background-color: #51dcc5;
}

.f-cyan {
    color: #51dcc5;
}

.card-title {
    font-size: 32px;
    font-weight: 500;
}

.progress-bar-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.progress-bar-circle-95 {
    background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#51dcc5 95%, grey 0);  
}
  
.progress-bar-circle-95::before {
    content: "95%";
}

.progress-bar-circle-55 {
    background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#51dcc5 55%, grey 0);  
}
  
.progress-bar-circle-55::before {
    content: "55%";
}

.progress-bar-circle-86 {
    background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#51dcc5 86%, grey 0);  
}
  
.progress-bar-circle-86::before {
    content: "86%";
}

.progress-bar-circle-60 {
    background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#51dcc5 60%, grey 0);  
}
  
.progress-bar-circle-60::before {
    content: "60%";
}