body {
    padding-top: 5rem;
}

.nav-link {
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link:focus {
    text-decoration: underline;
    text-underline-offset: 15px;
}

.greeting-card {
    width: 130px;
    background-color: #51dcc5;
    color: white;
    font-weight: 600;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.profile-name {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.1 rem;
}

.about-me {
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.1 rem;
}

.cv-badge {
    background-color: #51dcc5;
}