.header {
    display: flex;
    padding: 12px 0px;
}


body {
    background-color: whitesmoke;
    padding: 0 120px;

}

.navbar {
    display: flex;
    flex: 1;
    gap: 50px;
    justify-content: flex-end;
    align-items: center;
}

a {
    font-size: small;
    text-decoration: none;
    color: black;
    font-family: Inter;
}

.middle{
    display: flex;
    padding: 12px 0px;
    gap: 40px;
}

.caption{
    display: flex;
}

.left-container {
    flex: 70%;
}

.right-container {
    flex: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    padding: 0px 25px 0px 25px;
}

.desktop-img-dev {
    display: flex;
}

.desktop-img {
    max-width: 100%;
  }

.yellow-header {
    color: orange;
    font-size: 42px;
    line-height: 0.01em;
}

.post-title {
    color: white;
    font-size: 24px;
}

.post-details {
    color: gray;
    font-size: 17px;
    line-height: 25px;
}

.text-inter-bold {
    font-weight: bold;
    font-family: Inter;
}

.text-inter {
    font-family: Inter;
}

hr {
    border-color: grey;
    margin-left: 0;
    margin-right: 0;
}

.desktop-img-caption {
    display: flex;
    gap: 25px;
}

.desktop-img-caption-title {
    flex: 1;
    font-size: 56px;
}

.desktop-img-caption-title p {
    margin: 14px 0 0 0;
    max-width: 350px;
}

.desktop-img-caption-description {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 14px 0 0 0;
}

.red-button {
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
}

button {
    background-color: red;
    color: white;
    font-family: Inter;
    letter-spacing: 4px;
    padding: 15px 45px 15px 45px;
}

.footer{
    display: flex;
    padding: 52px 0px;
    justify-content: space-between;
}

.retro-pc-img {
    max-width:100px;
    height:140px;
}

.topic-and-image {
    display:flex;
    width: 340px;
}

p.topic-number {
    color:grey;
    font-family: Inter;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 0;
}

.topic {
    padding-left: 12px;
}

.topic-title-p {
    margin-top: 5px;
    font-weight: bolder;
    font-size: 18px;
    font-family: Inter;
}

.topic-details-p {
    padding-top: 10px;
    margin-bottom: 5px;
    font-family: Inter;
    color: grey;
}

