section {
    padding: 10px 30px 10px 30px;
}

.bg-deepblue {
    background-color: #0A2640;
}

.color-deepblue {
    color: #0A2640;
}

.turq-color {
    color: #4FE9A4;
}

.grey-color {
    color: #777777;
}

.deepblue-border {
    border-color: #0A2640 !important;
    padding: 0px 15px 0px 15px;
}

.post-title-lh {
    line-height: 150%;
}

hr {
    height: 0.4rem;
    opacity: 1;
}

.fs-7 {
    font-size: 0.85rem;
}

.background-elipse {
    background-image: url("./assets/Ellipse\ 9.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.turq-button-color {
    background-color: #65E4A3;
}

.segoui-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    @extend .segoui-font;
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
}

.header-subtitle {
    font-family: sans-serif;
    color: #F1F1F1;
}

.negative-margin {
    margin-top: -5rem;
}

.img-container {
    text-align: center;
    padding: 0;
}
