section {
  padding: 10px 30px 10px 30px;
}

.bg-deepblue {
  background-color: #0A2640;
}

.turq-color {
  color: #4FE9A4;
}

.grey-color {
  color: #777777;
}

.turq-button-color {
  background-color: #65E4A3;
}

.segoui-font, .header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  font-weight: 400;
  font-size: 64px;
  line-height: 84px;
}

.header-subtitle {
  font-family: sans-serif;
  color: #F1F1F1;
}

.negative-margin {
  margin-top: -5rem;
}

.img-container {
  text-align: center;
  padding: 0;
}
