body {
    margin: 0;
    background-color: #A1C3FF;
}

/* START OF HEADER STYLING */

.header {
    display: flex;
    justify-content: center;
    background-color: #3574E6;
}

.middle-header {
    display: flex;
    width: 1000px;
}

.title-header {
    flex: 1;
}

.header-title-p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
    color: white;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
}

.navbar-header {
    flex: 1;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
    font-size: 15px;
    color: white;
}

/* END OF HEADER STYLING */

/* START OF MIDDLE CONTENT STYLING */

.content {
    background-color: #2151CD;
    display: flex;
    justify-content: center;

}

.middle-content {
    display: flex;
    width: 1000px;
    height: 325px;
    gap: 25px;
}

.middle-content-info {
    flex: 1;
}

.middle-content-title-p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
    font-size: 48px;
    color: white;
    margin-top: 16px;
    margin-bottom: 16px;
}

.middle-content-details-p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: white;
    line-height: 18px;
}

.middle-content-picture {
    flex: 0.75;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 70px;
}

.middle-content-picture-img {
    max-width: 100%;
}

/* END OF MIDDLE CONTENT STYLING */

/* START OF FOOTER CONTENT STYLING */

.footer {
    display: flex;
    justify-content: center;
}

.middle-footer {
    display: flex;
    width: 1000px;
}

.footer-content{
    display: flex;
    gap: 15px;
    margin: 25px 0px 15px 0px;
}

.footer-content-post {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #2151CD;
    border-radius: 15px;
    padding: 15px;
}

.footer-content-post-title {
    display: flex;
    align-items: center;
}

.footer-content-post-details {
    display: flex;
}

.post-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
    font-size: 22px;
    color: white;
    margin: 10px;
}

.post-details {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: white;
    margin: 5px;
    line-height: 20px;
}

svg.icons {
    width: 24px;
    height: 24px;
    fill: white;
}

/* END OF FOOTER CONTENT STYLING */
