.text-black {
  color: black;
}

.bg-purple {
  background-color: #510B76;
}

.glow {
  box-shadow: 0px 0px 16px 0.4rem #510B76;
}

.purple-filter {
  filter: grayscale(100%) brightness(50%) sepia(40%) hue-rotate(-100deg) saturate(300%) contrast(1);
}

a, p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
}

.gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px;
}

.circle-purple {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 24px;
  border: 12px solid;
  border-radius: 100px;
  color: #510B76;
}

.circle-green {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 24px;
  border: 12px solid;
  border-radius: 100px;
  color: #0B760F;
}

.circle-orange {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 24px;
  border: 12px solid;
  border-radius: 100px;
  color: #F58026;
}

.gg-home-alt {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 14px;
  border: 2px solid;
  border-top: 0;
  border-radius: 2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: -2px;
}

.gg-home-alt::after,
.gg-home-alt::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-home-alt::before {
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-left-radius: 4px;
  transform: rotate(45deg);
  top: -5px;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  left: 0;
}

.gg-home-alt::after {
  width: 6px;
  height: 10px;
  background: currentColor;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  left: 4px;
  bottom: -2px;
}
